{% if factFinder is defined and factFinder.paging is defined %}
    {% set paging = factFinder.paging %}

    <ul class="pagination __no-margin-bottom" role="navigation">
        {% if paging.previousPage is defined and paging.previousPage.item != null %}
            <li class="pagination-previous">
                <a href="{{ paging.previousPage.item.url }}">
                    {{ paging.previousPage.item.label }}
                </a>
            </li>
        {% endif %}

        {% if paging.pages is defined %}
            {% for page in paging.pages %}
                <li>
                    <a href="{{ page.item.url }}" class="{{ page.item.selected == true ? 'current' : '' }}">
                        {{ page.item.label }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}

        {% if paging.nextPage is defined and paging.nextPage.item != null %}
            <li class="pagination-next">
                <a href="{{ paging.nextPage.item.url }}">
                    {{ paging.nextPage.item.label }}
                </a>
            </li>
        {%  endif %}
    </ul>
{% endif %}