{% if factFinder.result is defined and factFinder.resultsPerPageOptions.defaultOption is defined %}

    <div class="callout">
        <div class="row align-middle">
            <div class="small-12 large-4 xlarge-3 columns show-for-large">
                <strong>{{ factFinder.result.foundRecordsCount }}</strong> {{ "catalog.itemsFound"|trans }}
            </div>
            <div class="small-2 large-2 xlarge-2 columns">
                <label>
                    <select name="products-per-page" class="__no-margin-bottom fact-finder-products-per-page">
                        {% if factFinder.resultsPerPageOptions.items is defined %}
                            {% for item in factFinder.resultsPerPageOptions.items %}
                                <option value="{{ item.url }}" {% if item.selected == true %}selected{% endif %}>{{ item.label }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="{{ factFinder.resultsPerPageOptions.defaultOption.url }}"
                                    {% if factFinder.resultsPerPageOptions.defaultOption.selected == true %}selected{% endif %}>
                                {{ factFinder.resultsPerPageOptions.defaultOption.label }}
                            </option>
                        {% endif %}
                    </select>
                </label>
            </div>
            <div class="small-6 large-3 xlarge-3 columns">
                <label>
                    <select name="sort" class="__no-margin-bottom fact-finder-sort-options">
                        {% for sortingItem in factFinder.sortingItems %}
                            <option value="{{ sortingItem.url }}" {% if sortingItem.selected %}selected{% endif %}>{{ sortingItem.label }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
    </div>

{% endif %}
