<form method="GET" action="{{ filter.item.url }}" data-filter-name="filter{{ filter.fieldName }}">
    <div class="callout">
        <h3>{{ filterGroup.name }}</h3>
        <div class="row">
            <div class="small-12 columns">
                <div class="row">
                    <div class="small-6 columns">
                        <label>
                            {{ "catalog.filter.rangeFrom"|trans }} {{ filterGroup.unit }}
                            <input type="number" name="min" class="fact-finder-range-filter-input-of"
                                   value="{{ filter.selectedMinimum }}"
                                   required="required"
                                   min="{{ filter.selectedMinimum }}"
                                   max="{{ filter.selectedMaximum }}"
                                   step="1"
                                   data-old-value="{{ filter.selectedMinimum }}"
                                   data-absolute-minimum="{{ filter.absoluteMinimum }}"
                                   data-absolute-maximum="{{ filter.absoluteMaximum }}"
                            />
                        </label>
                    </div>
                    <div class="small-6 columns">
                        <label>
                            {{ "catalog.filter.rangeTo"|trans }} {{ filterGroup.unit }}
                            <input type="number" name="max" class="fact-finder-range-filter-input-to"
                                   value="{{ filter.selectedMaximum }}"
                                   required="required"
                                   min="{{ filter.selectedMinimum }}"
                                   max="{{ filter.selectedMaximum }}"
                                   step="1"
                                   data-old-value="{{ filter.selectedMaximum }}"
                                   data-absolute-minimum="{{ filter.absoluteMinimum }}"
                                   data-absolute-maximum="{{ filter.absoluteMaximum }}"
                            />
                            {{ filterGroup.unit }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <button type="submit" class="button hollow expanded __no-margin-bottom fact-finder-range-filter">
                            <i class="fa fa-filter"></i> {{ 'catalog.filter.button' | trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
