<form method="get">
    <div class="callout">
        <h3>{{ filterGroup.name }}</h3>
        <table class="table">
            {% for filter in filterGroup.getFilters %}
                {% set type = filterGroup.isMultiSelectOrType ? 'checkbox' : 'radio' %}
                <tr>
                    <td>
                        <a href="{{ filter.item.url }}">
                            <input type="{{ type }}" class="fact-finder-filter-checkbox" {% if filter.item.selected %} checked {% endif %}>
                            {{ filter.item.label }} {{ filterGroup.unit }}
                            {% if filter.matchCount %}
                                ({{ filter.matchCount }})
                            {% else %}
                                ({{ "catalog.filter.removeFilter" | trans }})
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</form>
