<form method="get">
    <div class="callout">
        <h3>{{ filterGroup.name }}</h3>
        <table class="table">
            {% for filter in filterGroup.getFilters %}
                <tr {% if filter.item.selected %}style="background-color: #88f2a5;"{% endif %}>
                    <td>
                        <a href="{{ filter.item.url }}">
                            {{ filter.item.label }} {{ filterGroup.unit }}
                            {% if filter.matchCount %}
                                ({{ filter.matchCount }})
                            {% else %}
                                ({{ "catalog.filter.removeFilter" | trans }})
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</form>
